<header>
        <section class="headerLeft">
            <img source="" alt="PLACEHOLDER">
        </section>
        <section class="headerRight">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/vaults">Our Vaults</a></li>
                </ul>
            </nav>
        </section>
    </header>