<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Vault-Tec</title>
</head>
<body>
    {{ header }}
    <main>
        <section class="intro">
            <h1>Vault-Tec Calling!</h1>
            <a href="/vaults.html" id="searchVault">Find your vault today!</a>
            <img source="" alt="" />
        </section>
        <section class="blurb">
            <h2>Help shape future America!</h2>
            <p id="blurbPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Odit aut vero facere corporis enim voluptatum iure, sed deleniti. Iure molestias nihil ad.
                Facere eius magni veritatis reprehenderit vitae. Maiores, nisi?
            </p>
            
        </section>
    </main>
</body>
</html>